@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    cursor: default;
}

body {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    overflow-x: hidden;
    width: 100%;
    height: auto;
    position: relative;
    background-color: #353535;
}

.charLengthText {
    position: absolute;
    left: 50px;
    top: 50px;
    color: white;
}

.charLengthText input {
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    padding-left: 10px;
}

.which {
    position: absolute;
    color: white;
    font-size: 18px;
    left: 50px;
    top: 110px;
}

.checkbox_container {
    position: absolute;
    left: 50px;
    top: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    align-items: flex-start;
    justify-content: center;
    align-content: flex-start;
}

.checkbox_container p {
    color: white;
    font-size: 16px;
}

button {
    position: absolute;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 600 !important;
    left: 50px;
    top: 270px;
    transition: transform 0.35s;

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
}

#resultText {
    position: absolute;
    left: 50px;
    top: 320px;
    color: white;
    font-size: 18px;
}

#result {
    color: black;
}