@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    cursor: default;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    overflow-x: hidden;
    width: 100%;
    height: auto;
    position: relative;
    background-color: #353535;
}

header {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #272C34;
}

#logo {
    width: 100px;
    height: 45px;
    position: absolute;
    left: 310px;
    top: 50px;
}

#boat {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}

header h2 {
    position: absolute;
    color: #F7E6D3;
    font-size: 90px;
    font-weight: 700 !important;
    left: 310px;
    top: 35%;
    transform: translateY(-35%);
    max-width: 850px;
    line-height: 100px;
}

header p {
    position: absolute;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 300 !important;
    left: 310px;
    top: 47%;
    transform: translateY(-47%);
}

#cost {
    position: absolute;
    color: #EB1B24;
    left: 310px;
    top: 58%;
    transform: translateY(-58%);
    font-size: 60px;
    font-weight: 400 !important;
}

.buttons_container {
    position: absolute;
    left: 310px;
    top: 69%;
    transform: translateY(-69%);
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#cartButton {
    width: 140px;
    height: 50px;
    background-color: #EB1B24;
    color: #FFFFFF;
    border-radius: 24px;
    text-align: center;
    font-size: 16px;
    font-weight: 400 !important;
    border: none;
    transition: transform 0.35s;

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
}

#detailsButton {
    width: 140px;
    height: 50px;
    background: none;
    color: #FFFFFF;
    border-radius: 24px;
    text-align: center;
    font-size: 16px;
    font-weight: 400 !important;
    border: 1px solid #FFFFFF;
    transition: transform 0.35s;

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
}

#headphones {
    position: absolute;
    right: 200px;
    top: 40%;
    transform: translateY(-40%);
    animation: headphones 4s ease-in-out infinite;
}

@keyframes headphones {
    0%, 100% {
        top: 40%;
        transform: translateY(-40%);
    }
    50% {
        top: 55%;
        transform: translateY(-55%);
    }
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400 !important;

    &:hover {
        cursor: pointer;
    }
}

.header_container {
    position: absolute;
    right: 200px;
    top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#search, #cart {
    width: 24px;
    height: 24px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.35s;

    &:hover {
        cursor: pointer;
        transform: scale(1.2);
    }
}

#search {
    background-image: url(/images/search.svg);
}

#cart {
    background-image: url(/images/cart.svg);
}

.currentPage_container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    left: 95%;
    top: 50%;
    transform: translateY(-50%);
}

.page {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;

    &:hover {
        cursor: pointer;
    }
}

.pageCurrent {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #FFFFFF;
    border: 1px solid #8e8e8e;
    left: 0;
    top: 0;
    &:hover {
        cursor: pointer;
    }
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.darken {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.65);
}

.modal_container {
    position: relative;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
    width: 454px;
    height: 453px;
    background-color: #7399D3;
    border-radius: 15px;
}

.modal_container h2 {
    color: white;
    left: 50%;
    transform: translateX(-50%);
    top: 15px;
    font-size: 48px;
    font-weight: 700 !important;
}

.modal_container form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.modal_container form input {
    width: 350px;
    height: 35px;
    background-color: #D9D9D9;
    color: #1F1F1F;
    font-size: 20px;
    font-weight: 700 !important;
    padding-left: 10px;
    border: none;
    border-radius: 6px;

    &:hover {
        cursor: pointer;
    }
}

.modal_container form input::placeholder {
    color: #1F1F1F;
    font-size: 20px;
    font-weight: 700 !important;
}

.modal_buttons_container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.modal_buttons_container button {
    width: 125px;
    height: 35px;
    background-color: #D9D9D9;
    color: #1F1F1F;
    font-size: 20px;
    text-align: center;
    font-weight: 700 !important;
    border: none;
    border-radius: 6px;
    transition: transform 0.35s;

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
}

.notification {
    width: max-content;
    height: max-content;
    max-width: 400px;
    border-radius: 10px;
    background-color: rgba(150, 0, 0, 0.85);
    color: white;
    font-size: 18px;
    font-weight: 400 !important;
    padding: 10px;
    position: absolute;
    top: 150px;
    left: -450px;
    animation: notif 5s linear forwards;
}

@keyframes notif {
    0% {
        left: -450px;
    }

    15%, 90% {
        left: 10px;
    }

    100% {
        left: -450px;
    }
}

.countChange_container {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.countChange_container .countChange_more {
    width: 16px;
    height: 16px;
    background-color: white;
    position: relative;

    &:hover {
        cursor: pointer;
    }
}

.countChange_container .countChange_more span {
    color: black;
    font-weight: 700 !important;
    font-size: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &:hover {
        cursor: pointer;
    }
}

.countChange_container .countChange_less {
    width: 16px;
    height: 16px;
    background-color: white;
    position: relative;

    &:hover {
        cursor: pointer;
    }
}

.countChange_container .countChange_less span {
    color: black;
    font-weight: 700 !important;
    font-size: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &:hover {
        cursor: pointer;
    }
}