@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Abhaya Libre", serif;
    font-weight: 600;
    font-style: normal;
    overflow-x: hidden;
    width: 100%;
    height: auto;
    position: relative;
}

.cards_container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    height: auto;
    max-width: 85vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    align-items: flex-start;
    justify-content: center;
    align-content: flex-start;
}

.card {
    position: relative;
    width: 350px;
    height: 450px;
    border-radius: 25px;
    background-color: black;
}

.card p {
    position: absolute;
    color: white;
    font-size: 20px;
    left: 30px;
    top: 30px;
}

.card button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 8px;
    text-align: center;
    background-color: white;
    color: black;
    transition: transform 0.3s;
    font-size: 20px;

    &:hover {
        cursor: pointer;
        transform: translateX(-50%) scale(1.1);
    }
}

.card .email {
    top: 80px;
}

.card .tel {
    top: 130px;
}