@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "JetBrains Mono", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    overflow-x: hidden;
    background-color: white;
    background-image: url(/images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    position: relative;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

canvas {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 150px;
    border: 1px solid black;
    border-radius: 15px;
}

#game_Title {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
    text-align: center;
    color: black;
    font-size: 48px;
}

#game_score {
    position: absolute;
    left: 28%;
    transform: translateX(-28%);
    top: 120px;
    text-align: center;
    color: black;
    font-size: 32px;
}

#game_time {
    position: absolute;
    right: 28%;
    transform: translateX(28%);
    top: 120px;
    text-align: center;
    color: black;
    font-size: 32px;
}

#restartButton {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    width: 200px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    border: none;
    border-radius: 7px;
    transition: transform 0.3s;

    &:hover {
        cursor: pointer;
        transform: translateX(-50%) scale(1.1);
    }
}

.snake_settings {
    position: relative;
    width: 350px;
    height: 500px;
    background-color: black;
    left: 50px;
    bottom: 450px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    border-radius: 15px;
}

.snake_settings h2 {
    color: white;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 32px;
}

.settings_input {
    width: 250px;
    height: 30px;
    border-radius: 7px;
    padding-left: 10px;
    font-size: 20px;
}

#settings_submit {
    width: 200px;
    height: 35px;
    font-size: 24px;
    text-align: center;
    border: none;
    border-radius: 7px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.3s;

    &:hover {
        cursor: pointer;
        transform: translateX(-50%) scale(1.1);
    }
}