<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/addWork.css">
    <title>Add Work</title>
</head>
<body>
    <div class="main_container">
        <h2>Добавление новой работы</h2>
        <form id="addWorkForm">
            <input class="addWorkInput" type="text" placeholder="Название работы" required>
            <input class="addWorkInput" type="text" placeholder="Дата работы" required>
            <input class="addWorkInput" type="text" placeholder="Картинка работы">
            <button type="submit">Добавить</button>
        </form>
    </div>
    <script type="module" src="/scripts/addWork.js"></script>
</body>
</html>