<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cabinet.css">
    <title>Личный кабинет</title>
</head>
<body>
    <div class="main_container">
        <% if (user) { %>
        <h2>Добро пожаловать, <%= user.name %>!</h2>
        <img id="avatar" src="<%= user.avatar %>" alt="avatar" loading="lazy">
        <div class="email_container">
            <img src="/images/email.svg" alt="email" loading="lazy">
            <p><%= user.email %></p>
        </div>
        <div class="changeAvatar_container">
            <input id="changeAvatar_input" type="text" placeholder="Ссылка на новый аватар">
            <button id="changeAvatar" type="button">ок</button>
        </div>
        <button id="exitBtn" type="button">Выйти</button>
        <% } %>
    </div>
    <script type="module" src="/scripts/cabinet.js"></script>
</body>
</html>