<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/index.css">
        <title>TITLE</title>
    </head>
    <body>
      <div class="main_container">
        <h2>Главная страница</h2>
        <div class="info_container">
          <p>Имя: Влад</p>
          <p>Возраст: 21 год</p>
          <p>Увлечения: node.js, javascript, vue.js, react.js</p>
        </div>
      </div>
      <script type="module" src="/scripts/index.js"></script>
    </body>
</html>