<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>
<body>
    <div class="main_container">
        <div class="loginForm_container visible">
            <h2>LOGIN</h2>
            <form id="loginForm" action="">
                <input class="logInput" type="text" placeholder="Login" required>
                <input class="logInput" type="text" placeholder="Password" required>
                <button type="submit">Login</button>
            </form>
            <p id="openRegText">Don't have account? Register here!</p>
        </div>
        
        <div class="registerForm_container hidden">
            <h2>REGISTER</h2>
            <form id="registerForm" action="">
                <input class="regInput" type="text" placeholder="Login" required>
                <input class="regInput" type="text" placeholder="Name" required>
                <input class="regInput" type="text" placeholder="Password" required>
                <button type="submit">Register</button>
            </form>
            <p id="openLogText">Already have account? Login here!</p>
        </div>
    </div>
    <script type="module" src="/scripts/login.js"></script>
</body>
</html>