<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>LOGIN</title>
</head>
<body>
    <div class="main_container">
        <div class="loginForm visible">
            <h2>L O G I N</h2>
            <form id="formLog" method="post">
                <input class="logInput" type="text" placeholder="Логин" required>
                <input class="logInput" type="password" placeholder="Пароль" required>
                <button type="submit">LOGIN</button>
            </form>
            <p id="openRegForm">Don't have account? Register here!</p>
        </div>
        <div class="regForm hidden">
            <h2>R E G I S T E R</h2>
            <form id="formReg">
                <input class="regInput" type="text" placeholder="Логин" required>
                <input class="regInput" type="text" placeholder="Имя" required>
                <input class="regInput" type="email" placeholder="Почта" required>
                <input class="regInput" type="password" placeholder="Пароль" required>
                <button type="submit">REGISTER</button>
            </form>
            <p id="openLogForm">Already have account? Login here!</p>
        </div>
    </div>
    <script type="module" src="/scripts/login.js"></script>
</body>
</html>