<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/works.css">
    <title>My Works</title>
</head>
<body>
    <div class="main_container">
        <% if (!work) { %>
            <h2>Мои работы</h2>
            <div class="works_container"></div>
        <% } else { %>
            <h2>Работа №<%= work.workID %></h2>
            <p id="infoText">Тут будут данные о работе №<%= work.workID %> от <%= work.workDate %></p>
        <% } %>
    </div>
    <script type="module" src="/scripts/works.js"></script>
</body>
</html>