* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  background: #393939;
  position: relative;
  width: 100vw;
  height: auto;
  overflow-x: hidden;
}

.main_container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.main_container h2 {
    color: white;
    font-size: 42px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
}

#avatar {
    width: 256px;
    height: 256px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 200px;
}

.email_container {
    position: relative;
    width: 400px;
    height: 100px;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -55%);
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.email_container p {
    color: white;
    font-size: 20px;
}

.email_container img {
    width: 24px;
    height: 24px;
}

.changeAvatar_container {
    position: relative;
    width: 400px;
    height: 100px;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -65%);
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.changeAvatar_container input {
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 18px;
    color: black;
}

.changeAvatar_container input::placeholder {
    font-size: 16px;
    color: black;
}

.changeAvatar_container button {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: black;

    &:hover {
        cursor: pointer;
    }
}

#exitBtn {
    position: absolute;
    left: 80%;
    transform: translateX(-80%);
    top: 60px;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 7px;
    font-size: 18px;
    color: black;

    &:hover {
        cursor: pointer;
    }
}