@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

$textColor: #3563E9;
$textColor_2: #1A202C;
$borderColor: #C3D4E966;
$placeholderColor: #596780;
$adBg_1: #54A6FF;
$adBg_2: #3563E9;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

%text_base {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 100vw;
    overflow-x: hidden;
}

%morent_base {
    position: absolute;
    color: $textColor;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.40);
}

body {
    @extend %text_base;
}

header {
    position: relative;
    width: 1440px;
    height: 125px;
    left: 50%;
    transform: translateX(-50%);
}

header h1 {
    @extend %morent_base;
    left: 60px;
    top: 40px;
}

.search_container {
    position: relative;
    width: 500px;
    height: 45px;
    top: 40px;
    left: 272px;
}

.search_container input {
    position: absolute;
    width: inherit;
    height: inherit;
    padding-left: 65px;
    padding-right: 65px;
    box-sizing: border-box;
    border: 1px solid $borderColor;
    border-radius: 70px;
}

.search_container input::placeholder {
    color: $placeholderColor;
    font-size: 14px;
}

%img_base {
    width: 24px;
    height: 24px;
}

#searchImg {
    @extend %img_base;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.35s;

    &:hover {
        cursor: pointer;
        transform: translateY(-50%) scale(1.1);
    }
}

#settingImg {
    @extend %img_base;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.35s;

    &:hover {
        cursor: pointer;
        transform: translateY(-50%) scale(1.1);
    }
}

.header_rightTop_container {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 35px;
    align-items: center;
    justify-content: center;
}

.header_rightTop_container img {
    @extend %img_base;
    transition: transform 0.35s ease-out;

    &:hover {
        cursor: pointer;
        transform: scale(1.15);
    }
}

#userAvatar {
    width: 44px !important;
    height: 44px !important;
    border-radius: 50%;

    &:hover {
        cursor: pointer;
        transform: none;
    }
}

%section_base {
    width: 1440px;
    height: 100vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#sectionOne {
    @extend %section_base;
    height: 65vh;
}

%ad_Base {
    width: 640px;
    height: 360px;
    position: relative;
}

.ad_1 {
    @extend %ad_Base;
    background-color: $adBg_1;
    border-radius: 10px;
    left: 64px;
    top: 32px;
}

.adTitle {
    position: absolute;
    color: white;
    font-size: 32px;
    font-weight: 600 !important;
    max-width: 272px;
    left: 16px;
    top: 16px;
}

.adSubTitle {
    position: absolute;
    color: white;
    font-size: 16px;
    font-weight: 500 !important;
    max-width: 284px;
    left: 16px;
    top: 120px;
}

.adButton {
    width: 120px;
    height: 45px;
    position: absolute;
    left: 16px;
    bottom: 125px;
    border: none;
    border-radius: 4px;
    background-color: $textColor;
    color: white;
    font-size: 16px;
    font-weight: 600 !important;
    transition: transform 0.35s ease-in-out;
    
    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
}

.adImg {
    max-width: 406px;
    max-height: 116px;
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
}

.ad_2 {
    @extend %ad_Base;
    background-color: $adBg_1;
    border-radius: 10px;
    position: absolute;
    right: 64px;
    top: 32px;
    background-color: $adBg_2;

    .adTitle {
        max-width: 285px !important;
    }

    .adButton {
        background-color: $adBg_1;
    }
}

.switchBtn {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -80%);
    width: 60px;
    height: 60px;
    background-color: $adBg_2;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.3);

    &:hover {
        cursor: pointer;
    }
}

.switchBtn img {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

%switchContainer_base {
    width: 582px;
    height: 132px;
    position: absolute;
    top: 83%;
    transform: translateY(-83%);
}

.switch_leftSide {
    @extend %switchContainer_base;
    left: 80px;
}

.switch_rightSide {
    @extend %switchContainer_base;
    right: 32px;
}

.title_container {
    position: absolute;
    left: 48px;
    top: 24px;

    p {
        font-weight: 600 !important;
        font-size: 16px;
        color: $textColor_2;
    }
}

.pointer, .pointer_2 {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 70px;
    bottom: 2px;
    background-color: rgba(53, 99, 233, 0.3);
    border-radius: 50%;
}

.pointer .pointer_dot, .pointer_2 .pointer_dot {
    width: 8px;
    height: 8px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: $adBg_2;
    border-radius: 50%;
}

.pointer_2 {
    right: 80px;
    background-color: rgba(92, 175, 252, 0.3);
}

.pointer_2 .pointer_dot {
    background-color: #54A6FF;
}

.additional_info_container, .additional_info_container_2 {
    position: absolute;
    width: 486px;
    height: 48px;
    left: 25px;
    top: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 50px;

    .locations_info, .date_info, .time_info {
        width: 126px;
        height: 48px;
        position: relative;

        .title {
            position: absolute;
            font-size: 16px;
            color: $textColor_2;
            font-weight: 700 !important;
        }

        .subtitle {
            position: absolute;
            font-size: 12px;
            color: #90A3BF;
            font-weight: 500 !important;
            bottom: 0;
        }

        img {
            width: 14px;
            height: 14px;
            position: absolute;
            right: 0;
            bottom: 0;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.additional_info_container_2 {
    left: -20px;
    top: 45px;
}

#sectionTwo {
    @extend %section_base;
    height: auto;

    .sectionTitle {
        position: relative;
        left: 0;
        top: 0;
        font-size: 16px;
        font-weight: 600 !important;
        color: #90A3BF;
    }

    .viewAll {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 16px;
        font-weight: 600 !important;
        color: $textColor;
    }

    .cars_container {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 80px;
        width: 1550px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 100px;
        row-gap: 10px;
        align-items: flex-start;
        justify-content: flex-start;

        .car {
            width: 304px;
            height: 388px;
            position: relative;

            .carTitle {
                font-size: 20px;
                font-weight: 700 !important;
                color: $textColor_2;
                position: absolute;
                left: 0;
                top: 0;
            }

            .carCategory {
                font-size: 14px;
                font-weight: 700 !important;
                color: #90A3BF;
                position: absolute;
                left: 0;
                top: 30px;
            }

            .carImg {
                position: absolute;
                height: 90px;
                left: 50%;
                top: 30%;
                transform: translate(-50%, -30%);
                transition: transform 0.35s ease-in-out;

                &:hover {
                    transform: translate(-50%, -30%) scale(1.1);
                }
            }

            .carInfo {
                width: 256px;
                height: 24px;
                position: absolute;
                left: 50%;
                top: 60%;
                transform: translate(-50%, -60%);
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                gap: 15px;
                align-items: center;
                justify-content: center;

                .fuel_container, .manual_container, .people_container {
                    height: 24px;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    gap: 6px;

                    p {
                        font-weight: 500 !important;
                        font-size: 14px;
                        color: #90A3BF;
                    }

                    img {
                        width: 24px;
                        height: 24px;
                    }
                }
            }

            .price {
                position: absolute;
                left: 25px;
                bottom: 80px;

                p {
                    font-size: 20px;
                    font-weight: 700 !important;
                    color: $textColor_2;

                    span {
                        font-size: 14px;
                        font-weight: 700 !important;
                        color: #90A3BF;
                    }
                }
            }

            button {
                width: 116px;
                height: 44px;
                border: none;
                background-color: $adBg_2;
                color: white;
                border-radius: 4px;
                font-size: 16px;
                font-weight: 600 !important;
                position: absolute;
                right: 25px;
                bottom: 68px;
                transition: transform 0.35s ease-in-out;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.05);
                }
            }
        }
    }
}

#showMoreButton {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 150px;
    height: 45px;
    border: none;
    border-radius: 4px;
    text-align: center;
    font-size: 18px;
    font-weight: 500 !important;
    background-color: $adBg_2;
    color: #FFFFFF;
    margin-bottom: 50px;

    &:hover {
        cursor: pointer;
    }
}

%footer_title_base {
    font-weight: 600 !important;
    font-size: 20px;
    color: $textColor_2;
    position: absolute;
    top: 80px;
}

%footer_text_base {
    font-size: 16px;
    font-weight: 600 !important;
    position: absolute;
    bottom: 50px;
    color: $textColor_2;
}

footer {
    position: relative;
    width: 100vw;
    height: 50vh;

    h2 {
        @extend %morent_base;
        font-size: 32px;
        font-weight: 700 !important;
        left: 180px;
        top: 80px;
    }

    #footerDesc {
        font-size: 16px;
        font-weight: 500 !important;
        position: absolute;
        left: 180px;
        top: 140px;
        color: rgba(19, 19, 19, 0.6);
        max-width: 290px;
    }

    #rights {
        @extend %footer_text_base;
        left: 180px;
    }

    #privacy {
        @extend %footer_text_base;
        right: 440px;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }

    #terms {
        @extend %footer_text_base;
        right: 230px;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }

    #footer_ul_title_1 {
        @extend %footer_title_base;
        right: 41vw;
    }

    #footer_ul_title_2 {
        @extend %footer_title_base;
        right: 26vw;
    }

    #footer_ul_title_3 {
        @extend %footer_title_base;
        right: 315px;
    }

    ul {
        position: absolute;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 40px;
        align-items: flex-start;
        justify-content: flex-start;
        top: 130px;

        li {
            font-size: 16px;
            font-weight: 500 !important;
            color: rgba(19, 19, 19, 0.6);

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }

    .footer_ul_1 {
        right: 705px;
    }

    .footer_ul_2 {
        right: 505px;
    }

    .footer_ul_3 {
        right: 305px;
    }
}