@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  width: 100vw;
  overflow-x: hidden;
}

footer h2, header h1 {
  position: absolute;
  color: #3563E9;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

header {
  position: relative;
  width: 1440px;
  height: 125px;
  left: 50%;
  transform: translateX(-50%);
}

header h1 {
  left: 60px;
  top: 40px;
}

.search_container {
  position: relative;
  width: 500px;
  height: 45px;
  top: 40px;
  left: 272px;
}

.search_container input {
  position: absolute;
  width: inherit;
  height: inherit;
  padding-left: 65px;
  padding-right: 65px;
  box-sizing: border-box;
  border: 1px solid rgba(195, 212, 233, 0.4);
  border-radius: 70px;
}

.search_container input::placeholder {
  color: #596780;
  font-size: 14px;
}

.header_rightTop_container img, #settingImg, #searchImg {
  width: 24px;
  height: 24px;
}

#searchImg {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.35s;
}
#searchImg:hover {
  cursor: pointer;
  transform: translateY(-50%) scale(1.1);
}

#settingImg {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.35s;
}
#settingImg:hover {
  cursor: pointer;
  transform: translateY(-50%) scale(1.1);
}

.header_rightTop_container {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 35px;
  align-items: center;
  justify-content: center;
}

.header_rightTop_container img {
  transition: transform 0.35s ease-out;
}
.header_rightTop_container img:hover {
  cursor: pointer;
  transform: scale(1.15);
}

#userAvatar {
  width: 44px !important;
  height: 44px !important;
  border-radius: 50%;
}
#userAvatar:hover {
  cursor: pointer;
  transform: none;
}

#sectionTwo, #sectionOne {
  width: 1440px;
  height: 100vh;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#sectionOne {
  height: 65vh;
}

.ad_2, .ad_1 {
  width: 640px;
  height: 360px;
  position: relative;
}

.ad_1 {
  background-color: #54A6FF;
  border-radius: 10px;
  left: 64px;
  top: 32px;
}

.adTitle {
  position: absolute;
  color: white;
  font-size: 32px;
  font-weight: 600 !important;
  max-width: 272px;
  left: 16px;
  top: 16px;
}

.adSubTitle {
  position: absolute;
  color: white;
  font-size: 16px;
  font-weight: 500 !important;
  max-width: 284px;
  left: 16px;
  top: 120px;
}

.adButton {
  width: 120px;
  height: 45px;
  position: absolute;
  left: 16px;
  bottom: 125px;
  border: none;
  border-radius: 4px;
  background-color: #3563E9;
  color: white;
  font-size: 16px;
  font-weight: 600 !important;
  transition: transform 0.35s ease-in-out;
}
.adButton:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.adImg {
  max-width: 406px;
  max-height: 116px;
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
}

.ad_2 {
  background-color: #54A6FF;
  border-radius: 10px;
  position: absolute;
  right: 64px;
  top: 32px;
  background-color: #3563E9;
}
.ad_2 .adTitle {
  max-width: 285px !important;
}
.ad_2 .adButton {
  background-color: #54A6FF;
}

.switchBtn {
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -80%);
  width: 60px;
  height: 60px;
  background-color: #3563E9;
  border-radius: 10px;
  box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.3);
}
.switchBtn:hover {
  cursor: pointer;
}

.switchBtn img {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.switch_rightSide, .switch_leftSide {
  width: 582px;
  height: 132px;
  position: absolute;
  top: 83%;
  transform: translateY(-83%);
}

.switch_leftSide {
  left: 80px;
}

.switch_rightSide {
  right: 32px;
}

.title_container {
  position: absolute;
  left: 48px;
  top: 24px;
}
.title_container p {
  font-weight: 600 !important;
  font-size: 16px;
  color: #1A202C;
}

.pointer, .pointer_2 {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 70px;
  bottom: 2px;
  background-color: rgba(53, 99, 233, 0.3);
  border-radius: 50%;
}

.pointer .pointer_dot, .pointer_2 .pointer_dot {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #3563E9;
  border-radius: 50%;
}

.pointer_2 {
  right: 80px;
  background-color: rgba(92, 175, 252, 0.3);
}

.pointer_2 .pointer_dot {
  background-color: #54A6FF;
}

.additional_info_container, .additional_info_container_2 {
  position: absolute;
  width: 486px;
  height: 48px;
  left: 25px;
  top: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 50px;
}
.additional_info_container .locations_info, .additional_info_container .date_info, .additional_info_container .time_info, .additional_info_container_2 .locations_info, .additional_info_container_2 .date_info, .additional_info_container_2 .time_info {
  width: 126px;
  height: 48px;
  position: relative;
}
.additional_info_container .locations_info .title, .additional_info_container .date_info .title, .additional_info_container .time_info .title, .additional_info_container_2 .locations_info .title, .additional_info_container_2 .date_info .title, .additional_info_container_2 .time_info .title {
  position: absolute;
  font-size: 16px;
  color: #1A202C;
  font-weight: 700 !important;
}
.additional_info_container .locations_info .subtitle, .additional_info_container .date_info .subtitle, .additional_info_container .time_info .subtitle, .additional_info_container_2 .locations_info .subtitle, .additional_info_container_2 .date_info .subtitle, .additional_info_container_2 .time_info .subtitle {
  position: absolute;
  font-size: 12px;
  color: #90A3BF;
  font-weight: 500 !important;
  bottom: 0;
}
.additional_info_container .locations_info img, .additional_info_container .date_info img, .additional_info_container .time_info img, .additional_info_container_2 .locations_info img, .additional_info_container_2 .date_info img, .additional_info_container_2 .time_info img {
  width: 14px;
  height: 14px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.additional_info_container .locations_info img:hover, .additional_info_container .date_info img:hover, .additional_info_container .time_info img:hover, .additional_info_container_2 .locations_info img:hover, .additional_info_container_2 .date_info img:hover, .additional_info_container_2 .time_info img:hover {
  cursor: pointer;
}

.additional_info_container_2 {
  left: -20px;
  top: 45px;
}

#sectionTwo {
  height: auto;
}
#sectionTwo .sectionTitle {
  position: relative;
  left: 0;
  top: 0;
  font-size: 16px;
  font-weight: 600 !important;
  color: #90A3BF;
}
#sectionTwo .viewAll {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 16px;
  font-weight: 600 !important;
  color: #3563E9;
}
#sectionTwo .cars_container {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 80px;
  width: 1550px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 100px;
  row-gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
}
#sectionTwo .cars_container .car {
  width: 304px;
  height: 388px;
  position: relative;
}
#sectionTwo .cars_container .car .carTitle {
  font-size: 20px;
  font-weight: 700 !important;
  color: #1A202C;
  position: absolute;
  left: 0;
  top: 0;
}
#sectionTwo .cars_container .car .carCategory {
  font-size: 14px;
  font-weight: 700 !important;
  color: #90A3BF;
  position: absolute;
  left: 0;
  top: 30px;
}
#sectionTwo .cars_container .car .carImg {
  position: absolute;
  height: 90px;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -30%);
  transition: transform 0.35s ease-in-out;
}
#sectionTwo .cars_container .car .carImg:hover {
  transform: translate(-50%, -30%) scale(1.1);
}
#sectionTwo .cars_container .car .carInfo {
  width: 256px;
  height: 24px;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -60%);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
#sectionTwo .cars_container .car .carInfo .fuel_container, #sectionTwo .cars_container .car .carInfo .manual_container, #sectionTwo .cars_container .car .carInfo .people_container {
  height: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 6px;
}
#sectionTwo .cars_container .car .carInfo .fuel_container p, #sectionTwo .cars_container .car .carInfo .manual_container p, #sectionTwo .cars_container .car .carInfo .people_container p {
  font-weight: 500 !important;
  font-size: 14px;
  color: #90A3BF;
}
#sectionTwo .cars_container .car .carInfo .fuel_container img, #sectionTwo .cars_container .car .carInfo .manual_container img, #sectionTwo .cars_container .car .carInfo .people_container img {
  width: 24px;
  height: 24px;
}
#sectionTwo .cars_container .car .price {
  position: absolute;
  left: 25px;
  bottom: 80px;
}
#sectionTwo .cars_container .car .price p {
  font-size: 20px;
  font-weight: 700 !important;
  color: #1A202C;
}
#sectionTwo .cars_container .car .price p span {
  font-size: 14px;
  font-weight: 700 !important;
  color: #90A3BF;
}
#sectionTwo .cars_container .car button {
  width: 116px;
  height: 44px;
  border: none;
  background-color: #3563E9;
  color: white;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600 !important;
  position: absolute;
  right: 25px;
  bottom: 68px;
  transition: transform 0.35s ease-in-out;
}
#sectionTwo .cars_container .car button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

#showMoreButton {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 150px;
  height: 45px;
  border: none;
  border-radius: 4px;
  text-align: center;
  font-size: 18px;
  font-weight: 500 !important;
  background-color: #3563E9;
  color: #FFFFFF;
  margin-bottom: 50px;
}
#showMoreButton:hover {
  cursor: pointer;
}

footer #footer_ul_title_3, footer #footer_ul_title_2, footer #footer_ul_title_1 {
  font-weight: 600 !important;
  font-size: 20px;
  color: #1A202C;
  position: absolute;
  top: 80px;
}

footer #terms, footer #privacy, footer #rights {
  font-size: 16px;
  font-weight: 600 !important;
  position: absolute;
  bottom: 50px;
  color: #1A202C;
}

footer {
  position: relative;
  width: 100vw;
  height: 50vh;
}
footer h2 {
  font-size: 32px;
  font-weight: 700 !important;
  left: 180px;
  top: 80px;
}
footer #footerDesc {
  font-size: 16px;
  font-weight: 500 !important;
  position: absolute;
  left: 180px;
  top: 140px;
  color: rgba(19, 19, 19, 0.6);
  max-width: 290px;
}
footer #rights {
  left: 180px;
}
footer #privacy {
  right: 440px;
}
footer #privacy:hover {
  cursor: pointer;
  text-decoration: underline;
}
footer #terms {
  right: 230px;
}
footer #terms:hover {
  cursor: pointer;
  text-decoration: underline;
}
footer #footer_ul_title_1 {
  right: 41vw;
}
footer #footer_ul_title_2 {
  right: 26vw;
}
footer #footer_ul_title_3 {
  right: 315px;
}
footer ul {
  position: absolute;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  top: 130px;
}
footer ul li {
  font-size: 16px;
  font-weight: 500 !important;
  color: rgba(19, 19, 19, 0.6);
}
footer ul li:hover {
  cursor: pointer;
  text-decoration: underline;
}
footer .footer_ul_1 {
  right: 705px;
}
footer .footer_ul_2 {
  right: 505px;
}
footer .footer_ul_3 {
  right: 305px;
}

/*# sourceMappingURL=index.css.map */
