* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  background: #393939;
  position: relative;
  width: 100vw;
  height: auto;
  overflow-x: hidden;
}

.main_container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.loginForm_container, .registerForm_container {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
    background-color: black;
}

.loginForm_container h2, .registerForm_container h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 32px;
    top: 20px;
}

#loginForm, #registerForm {
    position: absolute;
    left: 50%;
    bottom: 15%;
    transform: translate(-50%, -15%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

#loginForm {
    left: 50%;
    bottom: 25%;
    transform: translate(-50%, -25%);
}

#loginForm input, #registerForm input {
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    padding-left: 10px;
    color: black;
}

#loginForm input::placeholder, #registerForm input::placeholder {
    font-size: 18px;
}

#loginForm button, #registerForm button {
    width: 120px;
    height: 40px;
    text-align: center;
    border: none;
    border-radius: 8px;

    &:hover {
        cursor: pointer;
    }
}

#openRegText, #openLogText {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    color: blue;
    text-decoration: underline;
    text-wrap: nowrap;

    &:hover {
        cursor: pointer;
    }
}

.hidden {
    display: none;
}

.visible {
    display: block;
}