* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  background: #393939;
  position: relative;
  width: 100vw;
  height: auto;
  overflow-x: hidden;
}

.main_container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.main_container h2 {
  color: white;
  font-size: 54px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
}

.main_container #infoText {
  color: white;
  font-size: 24px;
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 500;
}

.works_container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  align-items: flex-start;
  justify-content: flex-start;
  top: 250px;
  left: 100px;
}

.work {
  width: 600px;
  height: 130px;
  border-radius: 12px;
  transition: transform 0.35s;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;

  &:hover {
    cursor: pointer;
    transform: scale(1.03);
  }
}

.work .workTitle {
  color: white;
  font-size: 24px;
  position: absolute;
  top: 15px;
  left: 50px;
  font-weight: 600;
}

.work .workDate {
  color: white;
  font-size: 20px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-weight: 400;
}